<IfModule mod_rewrite.c>
    RewriteEngine On

    # Nếu chạy trong thư mục con thì sửa lại cho đúng
    RewriteBase /dungcuyte/
 
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . index.php [L]
</IfModule>